.btn-floating {
	background-color: #f44336;
}

#btnSelect {
	position: absolute;
	top: 90px;
	right: 20px;
}
#btnEdit {
	position: absolute;
	top: 20px;
	right: 80px;
}
#btnDrawPoint {
	position: absolute;
	top: 160px;
	right: 20px;
}

#returnDash {
	position: absolute;
	top: 230px;
	right: 20px;
}


#btnDrawLine {
	position: absolute;
	top: 20px;
	right: 200px;
}
#btnDrawPoly {
	position: absolute;
	top: 20px;
	right: 260px;
}
#btnDelete {
	position: absolute;
	top: 20px;
	right: 20px;
}
#btnDrawBox {
	position: absolute;
	top: 20px;
	right: 460px;
}
#btnDrawSquare {
	position: absolute;
	top: 20px;
	right: 560px;
}
#btnDrawCircle {
	position: absolute;
	top: 20px;
	right: 660px;
}
#btnZoomIn {
	position: absolute;
	top: 20px;
	left: 20px;
}
#btnZoomOut {
	position: absolute;
	top: 90px;
	left: 20px;
}

#btnOpenMenu {
	position: absolute;
	top: 20px;
	right: 160px;
}


